<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.siow.mrmta">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Malay Restaurant Menu Translator Application "
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.example.siow.mrmta.Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.siow.mrmta.Result"
            android:parentActivityName="com.example.siow.mrmta.Main" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.siow.mrmta.Main" />
        </activity>

        <activity
            android:name="com.example.siow.mrmta.SelectedPart"
            android:parentActivityName="com.example.siow.mrmta.Main" >
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.siow.mrmta.Main" />
        </activity>

        <activity
            android:name="com.example.siow.mrmta.DetectWords"
            android:parentActivityName="com.example.siow.mrmta.Main" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.siow.mrmta.Main" />
        </activity>

    </application>

</manifest>